########################################
# Miscellaneous Macros
########################################

[gcode_macro SET_FANSPEED]
gcode:
  {% set speed = params.S|default(0)|int %}
  {% if printer["gcode_macro SET_FILAMENTTYPE"].filament|string == 'ASA' and speed > 0 %}
    M106 S{255*0.2}
  {% else %}
    M106 S0
  {% endif %}

[gcode_macro SHUTDOWN]
gcode:
  {action_call_remote_method("shutdown_machine")}

[gcode_macro DUMP_PARAMETERS]
gcode:
  {% set parameters = namespace(output = '') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set donotwant = ['bed_mesh'] %}
      {% if name1 is not in donotwant %}
        {% set param = "printer['%s'].%s = %s" % (name1, name2, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
      {% else %}
        {% set param = "printer['%s'] = %s" % (name1, printer[name1]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}

[gcode_macro M117]
rename_existing: M117.1
gcode:
  M117.1 { rawparams }
  M118 { rawparams }

#####################################################################
#	Disable only XY Stepper Macro
#	As klipper disables all steppers with M84 this macro ensures only 
#	X & Y Stepper will be disabled to prevent sagging of the Z Steppers
#####################################################################

[gcode_macro _DISABLE_XY_STEPPERS]
gcode:
	SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0

[idle_timeout]
gcode:
  TURN_OFF_HEATERS
  M107
  _DISABLE_XY_STEPPERS
timeout: 900

#[gcode_macro M300]
#default_parameter_S: 1000
#default_parameter_P: 100
#gcode:
#SET_PIN PIN=beeper_pin VALUE=0.5 CYCLE_TIME={1/(S|float)}
#G4 P{P}
#SET_PIN PIN=beeper_pin VALUE=0 CYCLE_TIME={1/(S|float)



[delayed_gcode clear_display]
#description: clears display after boot
#initial_duration: 0.
gcode:
  M117

########################################
# Preheat Temperatures
########################################

#[gcode_macro PREHEAT_PLA]
#gcode:
#    # Start bed heating
#    M140 S60
#    # Start nozzle heating
#    M104 S215

#[gcode_macro PREHEAT_PETG]
#gcode:
#    # Start bed heating
#    M140 S85
#    # Start nozzle heating
#    M104 S240

#[gcode_macro PREHEAT_TPU]
#gcode:
#    # Start bed heating
#    M140 S70
#    # Start nozzle heating
#    M104 S220

